* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    body{
        display: flex;
        align-items: center;
        min-height: 100vh;
        justify-content: center;
        background-color: #1B1919;
    }
    

      /* Whole  Form for Account creation */
    .Account {
        position: absolute; 
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        width: 1000px;
        width: 420px;
        align-items: center;
        background-color: #1B1919;
        border: 2px ;
        color: white;
    }

    /* Welcome to codecraft */
    .Account h1{
        font-size: 30px;
        text-align: left;
        color: white;
    }

    /* Username */
     .Account .input-box p{
        margin: 5px 0;
    }
    /* Section */
    .Account .input-box{
        width: 150%;
        height: 50px;
        background-color:#1B1919;;
        margin: 40px 0;
        margin-top: 10px;
    }
    /* Answers */
    .input-box input{
        width: 50%;
        height: 100%;
        background: transparent;
        border: none;
        outline: none;
        border: 2px solid rgba(255, 255, 255, .2);
        border-radius: 40px;
        font-size: 15px;
        color: white;
        padding: 20px 45px 20px 20px;
    }

    /* Play button */
    .Account .btn{
        width: 50%;
        height: 45px;
        background:#D284AC;
        border: none;
        outline:none;
        border-radius: 40px;
        box-shadow: 0 0 10px  rgba(0,0,0, -1);
        cursor: pointer;
        font-size: 16px;
        color: white;
        font-weight: 600;
        margin-top: 15px ;
    }
    
    .Account .btn:hover{
        background:#F50CA0;
        color:black
    }


    .image-container{
        display: flex; 
        margin-top: -15px; 
    }

    .image-container .button img{
        margin-top: 5px; 
        width: 90px; 
        height: auto;
        margin: 5px; 
        border: 10px solid #D284AC;
        border-width: 5px; /* Border width */
    }

    .image-container .button img:hover{
        border: 5px solid #F50CA0;
    }

    #imageDisplay img {
        width: 110px; 
        height: auto; 
        position: absolute;
        right: 450px;
        top: 180px;
        border-radius: 50%;
        border: 5px solid black;
    }
