* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, 'monospace';
}

body {
  display: flex;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
  background-color: black;
  position: relative;
}

.homeheader {
  position: absolute;
  bottom: 70px;
  left: 10px; 
}
.homeheader h1, .homeheader h2, .homeheader h3 {
  position: absolute;
  margin: 0; 
}
.homeheader h1 {
  font-family: "Bungee Inline", sans-serif;
  font-size: 25px;
  color: #F50CA0;
  left: 0; 
}
.homeheader h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: white;
  left: 160px; 
}
.homeheader h3 {
  font-family: "Russo One", sans-serif;
  font-size: 15px;
  color: #D284AC;
  left: 180px;
}

#pixel-art-container1, #pixel-art-container2, #pixel-art-container3, #pixel-art-container5, #pixel-art-container6, #pixel-art-container7, #pixel-art-container8{
  width: 900px;
  height: 500px;
  position: absolute;
  top: 200px;
  left: 60px;
  margin: 0 auto; 
  border: white;
  border-style: solid;
  border-width: 5px;
}

#pixel-art-container4{
  width: 1000px;
  height: 600px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto; 
  border: white;
  border-style: solid;
  border-width: 5px;
}


.pixel-art-frame {
  width: 100%; 
  height: 100%;
  position: absolute; 
  top: 0;
  left: 0;
  opacity: 0; 
}

.pixel-art-frame:first-child {
  opacity: 1; 
}

.pixel-art-frame.active {
  opacity: 1; 
}

.buttons {
  display: flex;
  gap: 10px;
}

.button1, .button2, .button3 {
  width: 8%;
  height: 30px;
  background: #D284AC;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, -1);
  cursor: pointer;
  font-size: 14px;
  color: white;
  font-weight: 100;
  position: absolute; 
  z-index: 1;
}

.button1:hover, .button2:hover, .button3:hover {
  background-color: #F50CA0;
  color: black;
}

.text-box {
  position: fixed;
  top: 5px;
  right: 50px;
  bottom: 10vw; /* space for the input and submit button */
  width: 30vw;
  max-width: 600px;
  font-size: 18px;
  color: #fff;
  background-color: transparent;
  padding: 10px;
  text-align: left;
  overflow-y: auto; /* vertical scrolling */
  transition: width 0.5s ease-in-out;
}

.text-box.minimized {
  width: 60px;
}

.text-box::-webkit-scrollbar {
  width: 0.5vw;
  height: 3vw;
}

.text-box::-webkit-scrollbar-thumb {
  background-color: #D284AC;
  border-radius: 2px;
}

.text-box::-webkit-scrollbar-track {
  background-color: #F50CA0;
  border-radius: 10px;
}

.form input[type="text"] {
  width: 25vw;
  max-width: 600px;
  height: 5vh;
  padding: 1.5vh;
  border: 0.2vw solid #ccc;
  background-color: black;
  border-radius: 3px;
  font-size: 1.1vw;
  color: white;
  position: fixed;
  bottom: 4vh;
  right: 10vh;
  z-index: 1000; /* stays on top */
  transition: width 0.5s ease-in-out;
}

.form input[type="submit"] {
  position: fixed;
  bottom: 4vh;
  right: 10vh;
  width: 9vw;
  height: 5vh;
  padding: 1.5vh;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1vw;
  background-color: #D284AC;
  color: white;
  cursor: pointer;
  z-index: 1000; /* stays on top */
  transition: width 0.5s ease-in-out;
}

.form input[type="submit"]:hover {
  background-color: #F50CA0;
  color: black;
}

.minimized-form .form input[type="text"],
.minimized-form .form input[type="submit"] {
  width: 60px;
}

.pixel-art-frame {
  display: none;
}

.active {
  display: block;
}

.correct {
  color: #F50CA0;
}

.incorrect {
  color: red;
}

.sentence {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.sentence.show {
  opacity: 1;
}

#sentence5, #sentence9, #sentence14, #sentence23, #sentence30, #sentence42{
  color: gray;
  font-size: 12px;
}

#sentence48{
  color: gray;
  font-size: 12px;
}


#sentence19, #sentence34,  #sentence46{
  color: red;
  font-size: 18px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  visibility: visible;
}

#score-container {
  width: 15%;
  height: 10%;
  position: absolute;
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  font-family: 'Russo One', sans-serif;
  font-size: 18px;
  z-index: 3;
}

#score-container p {
  margin: 0;
}

#hintBox {
  width: 20%;
  height: 20%;
  position: absolute;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  display: none; 
}

#hintText {
  font-family: 'Arial', sans-serif;
  color: white;
  font-size: 14px;
}

.transition{
  font-family: "Bungee Inline", sans-serif;
  font-size: 25px;
  color: red;
  left: 0; 
  position: absolute;
  top: 70px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.pixel-art-frame4 {
  display: none;
}

.pixel-art-frame4.active {
  display: block;
}

#black-screen {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  z-index: 9999;
  transition: opacity 2s;
}

#black-screen.show {
  display: block;
  opacity: 1;
}

/* thunder by imagine dragons  */
.flashing {
  animation: flash 0.5s infinite;
}

@keyframes flash {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.brighten {
  animation: brighten 2s forwards;
}

@keyframes brighten {
  0% { filter: brightness(100%); }
  100% { filter: brightness(200%); }
}

.darken {
  filter: brightness(75%);
}

/* this is 4 thoonder */
#pixel-art-container5, .buttons, #score-container, #hintBox, #answerform{
  transition: all 0.5s ease;
}

#pixel-art-container7, .buttons, #score-container, #hintBox, #answerform{
  transition: all 0.5s ease;
}

.bg-change {
  background-color: white; /* Change to your desired color */
  transition: background-color 0.5s ease;
}

.bg-change .text-box{
  color: red; /* Change to your desired color */
}

.bg-change .button1{
  background: red; /* Change to your desired color */
  color: white;
}

.bg-change .button2{
  background: red; /* Change to your desired color */
  color: white;
}

.bg-change .button3{
  background: red; /* Change to your desired color */
  color: white;
}

.bg-change .form input[type="submit"] {
  background: red; /* Change to your desired color */
  color: white;
}

.bg-change #score-container{
  color: red
}

.bg-change .form input[type="text"] {
  background: red; /* Change to your desired color */
  color: white;
}

.bg-change .homeheader h1{
  color: red;
}

.bg-change .homeheader h2{
  color: red;
}

.bg-change .homeheader h3{
  color: red;
}

.bg-change .text-box::-webkit-scrollbar-thumb{
  background-color: red;
}

.bg-change .text-box::-webkit-scrollbar-track{
  background-color: red;
}
