:root {
	--blur: 0px;
	--spread: 0px;
	--pixel-size: 1px;
	--gutter-size: 0px;
	--shadow-mult: calc(var(--gutter-size) + var(--pixel-size));
}

.pixel-art {
	position: relative;
	top: 0;
	left: 0;
	height: var(--pixel-size);
	width: var(--pixel-size);
	box-shadow:

	calc(5*var(--shadow-mult)) calc(9*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(6*var(--shadow-mult)) calc(9*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(7*var(--shadow-mult)) calc(9*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(8*var(--shadow-mult)) calc(9*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(3*var(--shadow-mult)) calc(10*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(4*var(--shadow-mult)) calc(10*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(5*var(--shadow-mult)) calc(10*var(--shadow-mult)) var(--blur) var(--spread) #563528,
	calc(6*var(--shadow-mult)) calc(10*var(--shadow-mult)) var(--blur) var(--spread) #563528,
	calc(7*var(--shadow-mult)) calc(10*var(--shadow-mult)) var(--blur) var(--spread) #563528,
	calc(8*var(--shadow-mult)) calc(10*var(--shadow-mult)) var(--blur) var(--spread) #563528,
	calc(9*var(--shadow-mult)) calc(10*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(10*var(--shadow-mult)) calc(10*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(2*var(--shadow-mult)) calc(11*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(3*var(--shadow-mult)) calc(11*var(--shadow-mult)) var(--blur) var(--spread) #563528,
	calc(4*var(--shadow-mult)) calc(11*var(--shadow-mult)) var(--blur) var(--spread) #563528,
	calc(5*var(--shadow-mult)) calc(11*var(--shadow-mult)) var(--blur) var(--spread) #563528,
	calc(6*var(--shadow-mult)) calc(11*var(--shadow-mult)) var(--blur) var(--spread) #643C2A,
	calc(7*var(--shadow-mult)) calc(11*var(--shadow-mult)) var(--blur) var(--spread) #643C2A,
	calc(8*var(--shadow-mult)) calc(11*var(--shadow-mult)) var(--blur) var(--spread) #643C2A,
	calc(9*var(--shadow-mult)) calc(11*var(--shadow-mult)) var(--blur) var(--spread) #563528,
	calc(10*var(--shadow-mult)) calc(11*var(--shadow-mult)) var(--blur) var(--spread) #563528,
	calc(11*var(--shadow-mult)) calc(11*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(2*var(--shadow-mult)) calc(12*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(3*var(--shadow-mult)) calc(12*var(--shadow-mult)) var(--blur) var(--spread) #563528,
	calc(4*var(--shadow-mult)) calc(12*var(--shadow-mult)) var(--blur) var(--spread) #643C2A,
	calc(5*var(--shadow-mult)) calc(12*var(--shadow-mult)) var(--blur) var(--spread) #643C2A,
	calc(6*var(--shadow-mult)) calc(12*var(--shadow-mult)) var(--blur) var(--spread) #643C2A,
	calc(7*var(--shadow-mult)) calc(12*var(--shadow-mult)) var(--blur) var(--spread) #643C2A,
	calc(8*var(--shadow-mult)) calc(12*var(--shadow-mult)) var(--blur) var(--spread) #563528,
	calc(9*var(--shadow-mult)) calc(12*var(--shadow-mult)) var(--blur) var(--spread) #643C2A,
	calc(10*var(--shadow-mult)) calc(12*var(--shadow-mult)) var(--blur) var(--spread) #563528,
	calc(11*var(--shadow-mult)) calc(12*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(1*var(--shadow-mult)) calc(13*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(2*var(--shadow-mult)) calc(13*var(--shadow-mult)) var(--blur) var(--spread) #563528,
	calc(3*var(--shadow-mult)) calc(13*var(--shadow-mult)) var(--blur) var(--spread) #643C2A,
	calc(4*var(--shadow-mult)) calc(13*var(--shadow-mult)) var(--blur) var(--spread) #643C2A,
	calc(5*var(--shadow-mult)) calc(13*var(--shadow-mult)) var(--blur) var(--spread) #643C2A,
	calc(6*var(--shadow-mult)) calc(13*var(--shadow-mult)) var(--blur) var(--spread) #643C2A,
	calc(7*var(--shadow-mult)) calc(13*var(--shadow-mult)) var(--blur) var(--spread) #643C2A,
	calc(8*var(--shadow-mult)) calc(13*var(--shadow-mult)) var(--blur) var(--spread) #EBC7A1,
	calc(9*var(--shadow-mult)) calc(13*var(--shadow-mult)) var(--blur) var(--spread) #EBC7A1,
	calc(10*var(--shadow-mult)) calc(13*var(--shadow-mult)) var(--blur) var(--spread) #643C2A,
	calc(11*var(--shadow-mult)) calc(13*var(--shadow-mult)) var(--blur) var(--spread) #563528,
	calc(12*var(--shadow-mult)) calc(13*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(1*var(--shadow-mult)) calc(14*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(2*var(--shadow-mult)) calc(14*var(--shadow-mult)) var(--blur) var(--spread) #643C2A,
	calc(3*var(--shadow-mult)) calc(14*var(--shadow-mult)) var(--blur) var(--spread) #643C2A,
	calc(4*var(--shadow-mult)) calc(14*var(--shadow-mult)) var(--blur) var(--spread) #643C2A,
	calc(5*var(--shadow-mult)) calc(14*var(--shadow-mult)) var(--blur) var(--spread) #643C2A,
	calc(6*var(--shadow-mult)) calc(14*var(--shadow-mult)) var(--blur) var(--spread) #643C2A,
	calc(7*var(--shadow-mult)) calc(14*var(--shadow-mult)) var(--blur) var(--spread) #563528,
	calc(8*var(--shadow-mult)) calc(14*var(--shadow-mult)) var(--blur) var(--spread) #EBC7A1,
	calc(9*var(--shadow-mult)) calc(14*var(--shadow-mult)) var(--blur) var(--spread) #EBC7A1,
	calc(10*var(--shadow-mult)) calc(14*var(--shadow-mult)) var(--blur) var(--spread) #EBC7A1,
	calc(11*var(--shadow-mult)) calc(14*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(1*var(--shadow-mult)) calc(15*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(2*var(--shadow-mult)) calc(15*var(--shadow-mult)) var(--blur) var(--spread) #563528,
	calc(3*var(--shadow-mult)) calc(15*var(--shadow-mult)) var(--blur) var(--spread) #643C2A,
	calc(4*var(--shadow-mult)) calc(15*var(--shadow-mult)) var(--blur) var(--spread) #643C2A,
	calc(5*var(--shadow-mult)) calc(15*var(--shadow-mult)) var(--blur) var(--spread) #EBC7A1,
	calc(6*var(--shadow-mult)) calc(15*var(--shadow-mult)) var(--blur) var(--spread) #563528,
	calc(7*var(--shadow-mult)) calc(15*var(--shadow-mult)) var(--blur) var(--spread) #EBC7A1,
	calc(8*var(--shadow-mult)) calc(15*var(--shadow-mult)) var(--blur) var(--spread) #EBC7A1,
	calc(9*var(--shadow-mult)) calc(15*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(10*var(--shadow-mult)) calc(15*var(--shadow-mult)) var(--blur) var(--spread) #EBC7A1,
	calc(11*var(--shadow-mult)) calc(15*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(1*var(--shadow-mult)) calc(16*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(2*var(--shadow-mult)) calc(16*var(--shadow-mult)) var(--blur) var(--spread) #563528,
	calc(3*var(--shadow-mult)) calc(16*var(--shadow-mult)) var(--blur) var(--spread) #643C2A,
	calc(4*var(--shadow-mult)) calc(16*var(--shadow-mult)) var(--blur) var(--spread) #563528,
	calc(5*var(--shadow-mult)) calc(16*var(--shadow-mult)) var(--blur) var(--spread) #EBC7A1,
	calc(6*var(--shadow-mult)) calc(16*var(--shadow-mult)) var(--blur) var(--spread) #EBC7A1,
	calc(7*var(--shadow-mult)) calc(16*var(--shadow-mult)) var(--blur) var(--spread) #EBC7A1,
	calc(8*var(--shadow-mult)) calc(16*var(--shadow-mult)) var(--blur) var(--spread) #EBC7A1,
	calc(9*var(--shadow-mult)) calc(16*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(10*var(--shadow-mult)) calc(16*var(--shadow-mult)) var(--blur) var(--spread) #EBC7A1,
	calc(11*var(--shadow-mult)) calc(16*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(2*var(--shadow-mult)) calc(17*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(3*var(--shadow-mult)) calc(17*var(--shadow-mult)) var(--blur) var(--spread) #563528,
	calc(4*var(--shadow-mult)) calc(17*var(--shadow-mult)) var(--blur) var(--spread) #EBC7A1,
	calc(5*var(--shadow-mult)) calc(17*var(--shadow-mult)) var(--blur) var(--spread) #EBC7A1,
	calc(6*var(--shadow-mult)) calc(17*var(--shadow-mult)) var(--blur) var(--spread) #EBC7A1,
	calc(7*var(--shadow-mult)) calc(17*var(--shadow-mult)) var(--blur) var(--spread) #EBC7A1,
	calc(8*var(--shadow-mult)) calc(17*var(--shadow-mult)) var(--blur) var(--spread) #EBC7A1,
	calc(9*var(--shadow-mult)) calc(17*var(--shadow-mult)) var(--blur) var(--spread) #EBC7A1,
	calc(10*var(--shadow-mult)) calc(17*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(3*var(--shadow-mult)) calc(18*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(4*var(--shadow-mult)) calc(18*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(5*var(--shadow-mult)) calc(18*var(--shadow-mult)) var(--blur) var(--spread) #EBC7A1,
	calc(6*var(--shadow-mult)) calc(18*var(--shadow-mult)) var(--blur) var(--spread) #EBC7A1,
	calc(7*var(--shadow-mult)) calc(18*var(--shadow-mult)) var(--blur) var(--spread) #EBC7A1,
	calc(8*var(--shadow-mult)) calc(18*var(--shadow-mult)) var(--blur) var(--spread) #EBC7A1,
	calc(9*var(--shadow-mult)) calc(18*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(4*var(--shadow-mult)) calc(19*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(5*var(--shadow-mult)) calc(19*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(6*var(--shadow-mult)) calc(19*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(7*var(--shadow-mult)) calc(19*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(8*var(--shadow-mult)) calc(19*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(3*var(--shadow-mult)) calc(20*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(4*var(--shadow-mult)) calc(20*var(--shadow-mult)) var(--blur) var(--spread) #0A301F,
	calc(5*var(--shadow-mult)) calc(20*var(--shadow-mult)) var(--blur) var(--spread) #0A301F,
	calc(6*var(--shadow-mult)) calc(20*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(7*var(--shadow-mult)) calc(20*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(8*var(--shadow-mult)) calc(20*var(--shadow-mult)) var(--blur) var(--spread) #0A301F,
	calc(9*var(--shadow-mult)) calc(20*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(3*var(--shadow-mult)) calc(21*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(4*var(--shadow-mult)) calc(21*var(--shadow-mult)) var(--blur) var(--spread) #0A301F,
	calc(5*var(--shadow-mult)) calc(21*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(6*var(--shadow-mult)) calc(21*var(--shadow-mult)) var(--blur) var(--spread) #F0D9BA,
	calc(7*var(--shadow-mult)) calc(21*var(--shadow-mult)) var(--blur) var(--spread) #F0D9BA,
	calc(8*var(--shadow-mult)) calc(21*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(9*var(--shadow-mult)) calc(21*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(3*var(--shadow-mult)) calc(22*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(4*var(--shadow-mult)) calc(22*var(--shadow-mult)) var(--blur) var(--spread) #0A301F,
	calc(5*var(--shadow-mult)) calc(22*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(6*var(--shadow-mult)) calc(22*var(--shadow-mult)) var(--blur) var(--spread) #F0D9BA,
	calc(7*var(--shadow-mult)) calc(22*var(--shadow-mult)) var(--blur) var(--spread) #F0D9BA,
	calc(8*var(--shadow-mult)) calc(22*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(4*var(--shadow-mult)) calc(23*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(5*var(--shadow-mult)) calc(23*var(--shadow-mult)) var(--blur) var(--spread) #F0F9F7,
	calc(6*var(--shadow-mult)) calc(23*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(7*var(--shadow-mult)) calc(23*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(8*var(--shadow-mult)) calc(23*var(--shadow-mult)) var(--blur) var(--spread) #F0F9F7,
	calc(9*var(--shadow-mult)) calc(23*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(4*var(--shadow-mult)) calc(24*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(5*var(--shadow-mult)) calc(24*var(--shadow-mult)) var(--blur) var(--spread) #47271E,
	calc(6*var(--shadow-mult)) calc(24*var(--shadow-mult)) var(--blur) var(--spread) #47271E,
	calc(7*var(--shadow-mult)) calc(24*var(--shadow-mult)) var(--blur) var(--spread) #47271E,
	calc(8*var(--shadow-mult)) calc(24*var(--shadow-mult)) var(--blur) var(--spread) #47271E,
	calc(9*var(--shadow-mult)) calc(24*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(5*var(--shadow-mult)) calc(25*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(6*var(--shadow-mult)) calc(25*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(7*var(--shadow-mult)) calc(25*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(8*var(--shadow-mult)) calc(25*var(--shadow-mult)) var(--blur) var(--spread) #000000;
}
